@charset "ISO-8859-1";
body{
	background-image:url("images/headphone.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	color:white;
}
.container{
	width:400px;
	height:400px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.container a{
	margin-top:20px;
	color:white;
}