@charset "ISO-8859-1";
body{
	background-image:url('images/headphone.jpg');
	background-size: cover;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}
form{
	display:flex;
	align-items:center;
	justify-content:center;
}
button{
	width:200px;
}
