<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{adminstyle.css}">
</head>
<body>
<h1>Admin home</h1>
<div class="container">
<a href="newSong" class="btn btn-primary">Add new Song</a>
<a href="viewSongs" class="btn btn-primary">view all songs</a>
<a href="createPlayList">Create playList</a>
<a href="viewPlayList">View playlist</a>
</div>
</body>
</html>